body, h1, h2, h3, h4, h5, p, ul, li, ol, form, textarea, select {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-family: 微软雅黑, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background: #e4e3e3;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 60px;
    background: #0a0d16;
}

.header-box {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header-box h1 {
    height: 100%;
    margin-right: 75px;
    line-height: 56px;
    font-weight: normal;
    font-size: 26px;
    float: left;
}

.nav {
    height: 100%;
    float: left;
}

.nav li {
    float: left;
    margin-right: 35px;
    line-height: 56px;
}

.nav a:hover {
    color: #00c1de;
}

.search{
    width: 50px;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
}
.search > i{
    font-size: 26px;
    color: white;
}
/*header */
.banner {
    width: 1200px;
    height: 260px;
    background: #e4e3e3;
    margin: 20px auto;
}

.banner-left {
    position: relative;
    width: 620px;
    height: 100%;
    background: rebeccapurple;
    margin-right: 12px;
    float: left;
}

.banner-left-img > li {
    position: absolute;
    left: 0;
    top: 0;
}

.banner-left-img > li > a {
    width: 620px;
    height: 260px;
    display: block;
}

.leftBtn, .rightBtn {
    width: 40px;
    height: 32px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    z-index: 9999;
}

.leftBtn {
    left: 50px;
}

.rightBtn {
    right: 50px;
}

.btnList {
    width: 96px;
    height: 10px;
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
}

.btnList > li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    float: left;
    margin-right: 14px;
}
.btnList > li.hot{
    background: #04b680;
}
.ertu {
    width: 268px;
    height: 100%;
    float: left;
}

.ertu li {
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    background: rebeccapurple;
}

.ertu li a {
    width: 268px;
    height: 125px;
    display: block;
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
    /*height: 100%;*/
}
.ertu li a img{
    transition: transform .2s ease-in;
}
.ertu li a:hover img{
    transform: scale(1.2,1.2);
}
.ertu li .t1 span, .ertu li .t2 span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 40px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
}

.banner-right {
    width: 284px;
    height: 100%;
    background: #333333;
    float: right;
}
.banner-right h2{
    font-size: 22px;
    margin: 10px;
    color: #89919a;
    font-weight: normal;
    padding-bottom: 10px;
}
.rightText li{
    font-size: 12px;
    padding: 0 0 0 20px;
    line-height: 28px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: #d0d2d4;
}
.rightLink{
    margin: 15px;
}
.rightLink li {
    width: 25%;
    float: left;
}
.iconfont.icon-zhiyuanshouye3{
    color: #ef5509;
    font-size: 26px;
}
.iconfont.icon-xinfeng{
    color: #FF991A;
    font-size: 27px;
}
.rightLink li a {
    height: 53px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
}
.iconfont.icon-icon{
    font-size: 30px;
    color: #1296DB;
}
.iconfont.icon-weixin{
    font-size: 30px;
    color: #07AF12;
}
.dairy {
    width: 1200px;
    height: 310px;
    background: #e4e3e3;
    margin: 20px auto;
}

.wangzhan {
    width: 860px;
    height: 270px;
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    float: left;
}

.dairy-list {
    border-bottom: 1px solid #e4e3e3;
    overflow: hidden;
    padding: 10px 0;
}
.new > a::before{
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #000;
}
.dairy-list li a{
    float: left;
    font-size: 16px;
    color: #333;
    position: relative;
    display: block;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.diaryTab {
    width: 100%;
    height: 210px;
    background: #FFFFFF;
    margin-top: 10px;
}

.tabImg {
    width: 275px;
    height: 100%;
    float: left;
    background: #FFFFFF;
}
.tabImg li a img{
    transition: transform .2s ease-in;
}
.tabImg li a:hover img{
    transform: scale(1.2,1.2);
}
.tabImg li {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background: burlywood;
}

.tabImg li a {
    width: 275px;
    height: 100px;
    display: block;
    position: relative;
    overflow: hidden;
}

.tabImg li .t3 span, .tabImg li .t4 span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 40px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
}

.tabList {
    width: 568px;
    height: 100%;
    float: right;
    background: #FFFFFF;
}
.tabList > li{
    height: auto;
    padding: 0 20px 10px 20px;
}
.tabList > li > h1{
    height: 22px;
    line-height: 22px;
}
.tabList > li > h1 a{
    font-size: 14px;
    color: #333333;
}
.tabList > li.hot{
    background: #f7f7f7;
}
.tabList > li.hot > h1 a{
    color: #000000;
}
.tabList > li.hot > h1 span{
    background: #000000;
}
.tabList > li > h1 span{
    width: 24px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    background: #9a9a9a;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
}
.tabList > li.hot > p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
}
.tabList > li > p{
    font-size: 14px;
    line-height: 1.5;
    height: 47px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    color: #333333;
    display: none;
    margin: 14px 0 0 0;
}
.slide {
    width: 244px;
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    float: right;
    margin-bottom: 20px;
}

.slide > a {
    display: block;
    color: #333333;
    margin: 30px 0 0 20px;
    font-size: 15px;
}

.title {
    height: 41px;
    border-bottom: 1px solid #e4e3e3;
    line-height: 41px;
    color: #333;
    font-size: 16px;
    position: relative;
    margin-bottom: 10px;
}
.title:hover::before{
    width: 90px;
}
.title::before{
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #000;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.update {
    padding-top: 18px;
}

.update li {
    height: 38px;
    margin-bottom: 12px;
    background: #f6f6f6;
    border-radius: 3px;
    padding: 0 20px 0 34px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
}

.update > li::before {
    content: '';
    width: 4px;
    height: 4px;
    background: #000;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 17px;
}
.update li a{
    color: #333333;
    line-height: 38px;
    font-size: 15px;
}
<!--
-->
.zuihou {
    width: 1200px;
    height: auto;
    background: #e4e3e3;
    margin: 0 auto;
}
.tuijian {
    width: 900px;
    height: auto;
    min-height: 600px;
    background: #e4e3e3;
    float: left;
}
.recommend {
    height: 658px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
}

.recommend .recommendCategory {
    float: right;
}
.recommendCategory > li {
    float: left;
    margin-right: 15px;
    color: #e4e3e3;
}
.recommendCategory > li > a {
    color: #333333;
}

.recommendList {
    padding: 20px 10px;
    overflow: hidden;
    position: relative;
}
.recommendList::before{
    content: '';
    width: 1px;
    height: 576px;
    position: absolute;
    right: 10px;
    top: 20px;
    background: #FFFFFF;
}
.recommendList::after{
    content: '';
    width: 840px;
    height: 1px;
    position: absolute;
    left: 10px;
    bottom: 20px;
    background: #FFFFFF;
}
.recommendList li {
    width: 239px;
    height: 247px;
    border-right: 1px solid #e4e3e3;
    border-bottom: 1px solid #e4e3e3;
    padding: 20px;
    float: left;
    transition: all ease-in .5s;
}
.recommendList li:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.recommendList .recommendThumb {
    display: block;
    height: 100px;
}

.recommendList > li > h2 {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}

.recommendList > li > p {
    color: #999999;
    font-size: 14px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 62px;
    overflow: hidden;
}

.recommendList .recommendRead {
    font-size: 16px;
    color: #009966;
    display: block;
    margin: 10px 0 0 0;
}

.recommendList .recommendRead:hover {
    color: #333333;
}

.recommendList .recommendRead::before {
    content: '+';
}

.moban {
    width: 860px;
    height: 170px;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
}

.zuixin {
    height: auto;
    min-height: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    margin-top: 20px;
}

.zuixin .theFirst {
    padding-bottom: 20px;
    border-bottom: 1px dashed #EEEEEE;
    min-height: 100px;
    position: relative;
    overflow: hidden;

}

.theFirst .theTitle {
    height: 18px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.theFirst .theTitle b {
    color: red;
}

.theFirst a {
    color: #333333;
    text-decoration: none;
}

.theFirst .thePicture {
    width: 200px;
    margin-right: 20px;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    float: left;
}
.thePicture a img{
    transition: transform .2s ease-in;
}
.thePicture a:hover img{
    transform: scale(1.2,1.2);
}
.theFirst .thePicture i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    padding: 3px 5px;
    background: #00c1de;
    font-size: 14px;
}

.theFirst .theContent {
    /*width: 632px;*/
    /*height: 130px;*/
    font-size: 14px;
    margin-top: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #666666;
}

.theFirst .theLast {
    margin-top: 20px;
    overflow: hidden;
    color: #999999;
    line-height: 34px;
}

.theLast span {
    margin: 0 5px;
}

.theLast span a {
    color: #096;
}

.v {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 2px;
    display: block;
}

.v::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    bottom: 0;
    background-size: 12px;
}

.v span {
    margin: 0 5px;
}

.v span a {
    color: #009966;
}

.theFirst > a {
    border-radius: 3px;
    padding: 3px 10px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    background: #12b7de;
    color: #FFFFFF;
    display: block;
}

.right {
    width: 284px;
    height: auto;
    min-height: 600px;
    background: #e4e3e3;
    float: right;
}

/*.paihang{*/
/*    height: 512px;*/
/*    background:rebeccapurple;*/
/*    border-radius: 3px;*/
/*}*/
.slide .phtu {
    height: 110px;
    border-radius: 3px;
    margin: 20px 0;
    background: burlywood;
    position: relative;
    display: block;
    overflow: hidden;
}

.phtu a {
    width: 100%;
    height: 110px;
    display: block;
    position: relative;
}
.phtu a img{
    transition: transform .2s ease-in;
}
.phtu a:hover img{
    transform: scale(1.2,1.2);
}

.phtu a span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 40px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
}

.phList {
    overflow: hidden;
}

.phList li a{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.phList li i {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 8px;
    margin-right: 10px;
    position: relative;
    float: left;
    font-style: normal;
    background: #b1b1b1;
}

.phList li i::before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9px;
    color: #FFFFFF;
    width: 16px;
    line-height: 16px;
    text-align: center;
}

.phList li:first-child i, .phList li:nth-child(2) i, .phList li:nth-child(3) i {
    background: #ff6600;
}

.phList li:first-child i::before {
    content: '1';
}

.phList li:nth-child(2) i::before {
    content: '2';
}

.phList li:nth-child(3) i::before {
    content: '3';
}

.phList li:nth-child(4) i::before {
    content: '4';
}

.phList li:nth-child(5) i::before {
    content: '5';
}

.phList li:nth-child(6) i::before {
    content: '6';
}

.phList li:nth-child(7) i::before {
    content: '7';
}

.phList li a {
    color: #333333;
    display: block;
}

/*.zhanzhang{*/
/*    width: 100%;*/
/*    height: 732px;*/
/*    margin-top: 10px;*/
/*}*/
.zztu {
    height: 110px;
    border-radius: 3px;
    margin: 20px 0;
    background: burlywood;
    position: relative;
    display: block;
    overflow: hidden;
}
.zztu a {
    width: 100%;
    height: 110px;
    display: block;
}
.zztu a img{
    transition: transform .2s ease-in;
}
.zztu a:hover img{
    transform: scale(1.2,1.2);
}
.zztu .zzz span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 40px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
}

.gx {
    overflow: hidden;
    padding-top: 10px;
}

.gx li {
    overflow: hidden;
    margin-bottom: 10px;
    height: 60px;
}

.gx li a img{
    transition: transform .2s ease-in;
}
.gx li a:hover img{
    transform: scale(1.2,1.2);
}
.gx li a {
    display: block;
    color: #333333;
    font-size: 14px;
}

.gx li i {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    display: block;
    float: left;
}

.gx li i p {
    margin-top: 10px;
    line-height: 20px;
    max-height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jinxi {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-top: 10px;
    overflow: hidden;
}
.jinxi a{
    overflow: hidden;
    display: block;
}
.jinxi a img{
    transition: transform .2s ease-in;
}
.jinxi a:hover img{
    transform: scale(1.2,1.2);
}
.like li {
    line-height: 22px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.like > li::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 10px;
    left: 0px;
    top: 10px;
}
.like li a{
    color: #333333;
    line-height: 22px;
    font-size: 15px;
}
.jinxi2 {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-top: 10px;
    overflow: hidden;
}
.jinxi2 a{
    overflow: hidden;
    display: block;
}
.jinxi2 a img{
    transition: transform .2s ease-in;
}
.jinxi2 a:hover img{
    transform: scale(1.2,1.2);
}
.xinxi {
    width: 100%;
    height: 342px;
    background: rebeccapurple;
    margin-top: 10px;
}
.zdxx li{
    margin-bottom: 8px;
}
.zdxx li b{
    font-weight: bold;
}
.ewm {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.zdxx li a {
    color: #096;
}
footer {
    background: #373D41;
    width: 100%;
    border-top: #00C1DE 10px solid;
    padding: 30px 0;
    color: #73777a;
    font-size: 14px;
}
.box , .head{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.wxbox li {
    float: left;
    margin: 0 10px;
    text-align: center;
}
.wxbox img {
    height: 100px;
    width: 100px;
    display: block;
}
footer a {
    color: #73777a;
}
.top {
    width: 40px;
    height: 40px;
    display: block;
    background: url(../image/top.jpg) no-repeat center #000;
    right: 20px;
    bottom: 10%;
    position: fixed;
}